#root {
  font-size: 24px;
}

input {
  font-size: 24px;
  width: 100%;
  border-width: 3px;
  border-style: solid;
  border-radius: 8px;
  border-color: grey;
  padding:4px;
}

path.react-flow__edge-path {
  stroke-width: 4;
}

path.react-flow__edge-path:hover {
  stroke-width: 10;
}

.cm-editor {
  font-size: 12px;
}

.button-group {
  display: flex;
  gap: 8px;
  padding: 8px;
}

button {
  background: whitesmoke;
  color: grey;
  cursor: pointer;
  border: 0;
  flex: 1;
  border-radius: 10px;
  padding: 8px;
}

button:hover {
  background: lightgrey;
}
